@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Satisfy&display=swap');


*{
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    font-family: 'Spartan', sans-serif;
}

body {
    display: block;
    margin: -8px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}

html{
    scroll-behavior: smooth;
}

p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    border: none;
    transition: 0.2s;
}

.head{
    margin-top: 40px;
}

.section-p1{
    padding: 40px 80px;
}

#logo{
    width: 150px;
    display: block;
    justify-content: center;
    border-radius: 50%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px; 
    background-color: #FC9F5B;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.66);
    position: sticky;
    z-index: 999;
    top: 0;
    left: 0;
} 

.navbar-left-items ul{
    list-style: none;
}

.navbar-left-items ul li{
    display: inline-block;
    position: relative;
}

.navbar-left-items ul li a{
    display: block;
    padding: 20px 25px;
    color: #111;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
}

.navbar-left-items ul li ul.dropdown li{
    display: block;
}

.navbar-left-items ul li ul.dropdown {
    width: 100%;
    background: #fc9e5b;
    position: absolute;
    z-index: 999;
    display: none;
}

.navbar-left-items ul li:hover ul.dropdown {
    display: block;
}


.navbar-left,
.navbar-right{
    padding: 20px;
    display: flex;
    align-items: center;
}

.navbar-left img{
    width: 100px;
}

.navbar-left-items{
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    align-items: center;
    padding: 20px;
    text-decoration: none;
}


.navbar-left a:hover{
    text-decoration: none;
    color: beige;
}


.navbar-left-items > *,
.navbar-right-login > *{
    padding: 20px;
}

.navbar-right-login{
    display: flex;
    border: 1px solid beige;
    padding: 3px 5px;
    align-items: right;
    font-size: 12px;
    
}

.navbar-right-login a{
    text-transform: uppercase;
    font-weight: 600;
    padding: inherit;
    font-size: 13px;
}

.log:hover, .sign:hover{
    color: white;
}

/*footer*/
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo{
    margin-bottom: 30px;
}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}

footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a{
    font-size: 13px;
    margin-bottom: 10px;
}

footer .follow{
    margin-top: 20px;
}

footer .follow i{
    color: black;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img{
    border: 1px solid black;
    border-radius: 6px;
}

footer .install img{
    margin: 10px 0 15px 0;
}

footer .follow i:hover, footer a:hover{
    color: #FC9F5B;
}

footer .copyright{
    align-self: center;
    width: 100%
}
